// .about {
//   display: flex;
// }

// .about {
//   &:last-child {
//     margin-right: 0;
//   }
// }
// .about__item {
//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }
// .about__block {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: #f5f4fa;
//   width: 270px;
//   height: 120px;
//   border-radius: 4px;
//   margin-bottom: 30px;
// }

// .bout__title {
//   margin-bottom: 10px;

//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: var(--primary-color-text);
// }
// .about__text {
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   color: var(--secendary-color-text);
// }
/*__________aboutus______________*/

/*-------------aboutus-----------*/
.aboutus__block {
  position: relative;
}
.section__now-padding-top {
  @media screen and(min-width:320px) {
    display: none;
  }
  @media screen and(min-width:1199px) {
    display: block;
    padding-top: 0;
  }
}

.section__titel {
  @media screen and(min-width:320px) {
    display: none;
  }
  @media screen and(min-width:1199px) {
    display: none;
    margin-bottom: 50px;
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}
.aboutus {
  display: flex;
}

.aboutus__item {
  margin-right: 30px;
}
.aboutus__box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}
.aboutus__text {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
