body {
  background-color: #ffffff;
  color: var(--title-text-color);
  font-family: var(--primary-font), sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
