:root {
  --primary-color-text: #212121;
  --secendary-color-text: #757575;
  --color-button-link: #2196f3;
  --color-footer-link: rgba(255, 255, 255, 0.6);
  --color-hover-footer-link: #ffffff;
  --color-bacground: #2f303a;
  --partfolio-btn: #f5f4fa;
}
